{% extends "base.html.twig" %}

{% block title %}{{ movie.name }}{% endblock %}


{%  block body %}

    <div>
        {{ movie.id }}<br/>
        {{ movie.name }}<br/>
        {{ movie.visa }}<br/>
    </div>

    {%  if is_granted('ROLE_ADMIN') %}
        {{ render(controller('App\\Controller\\MovieController::moviesExceptId', {'id':movie.id})) }}
    {% endif %}
{%  endblock %}