{% extends "base.html.twig" %}

{% block title %}moviiiies{% endblock %}


{%  block body %}
    <ul>
    {% for movie in movies %}
        <li><a href="{{ url('movie', {'id':movie.id}) }}">{{ movie.name }}</a></li>
    {% endfor %}
    </ul>
{%  endblock %}