<style>
    *{
        font-family:tahoma;
    }
    .sender label{
        display:inline-block;
        width:250px;
        float:left;
    }
    .sender input{
        float:left;
        width:500px;
    }
    .sender:after{
        clear:both;
        content: '';
        display:block;
    }
    .sender ul{
        clear:left;
        display:block;
        list-style-type: none;
        margin-left:0px;
        font-weight:bold;
        padding-left:250px;
        color:red;
        font-family:tahoma !important;
        text-transform:uppercase
    }
    .sender{
        background-color:#ddd;
        padding:10px;
    }
    #form_save{
        background-color: #005aa0;
        color:white;
        font-weight:bold;
        font-family:tahoma;
        padding:5px;
        border:1px solid #eee;
        border-radius:4px;
        margin-top:10px;
        text-transform:uppercase;
        cursor:pointer;
        font-size:20px;

    }
</style>
{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
<div class="sender">
    {{ form_label(form.sender) }}

    {{ form_widget(form.sender) }}
    {{ form_errors(form.sender) }}
</div>
<div class="sender">
    {{ form_label(form.dest) }}

    {{ form_widget(form.dest) }}
    {{ form_errors(form.dest) }}
</div>
<div class="sender">
    {{ form_label(form.object) }}

    {{ form_widget(form.object) }}
    {{ form_errors(form.object) }}
</div>
<div class="sender">
    {{ form_label(form.body) }}

    {{ form_widget(form.body) }}
    {{ form_errors(form.body) }}
</div>

{{ form_end(form) }}